In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('preprocessed/training.csv')
test = pd.read_csv('preprocessed/testing.csv')
ss = pd.read_csv('sample_submission.csv')

In [3]:
train.shape, test.shape, ss.shape

((1452, 293), (1459, 292), (1459, 2))

In [4]:
target = train['SalePrice']
inputs = train.drop('SalePrice',axis=1)

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from catboost import CatBoostClassifier

In [6]:
rand = RandomForestClassifier()
rand.fit(inputs,target)
pred1 = rand.predict(test)
accuracy = rand.score(inputs,target)
accuracy

0.9979338842975206

In [7]:
ss.head()

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977

In [8]:
ss1 = ss.drop('SalePrice', axis=1)

In [13]:
ss1['SalePrice'] = pred1

In [16]:
submit =ss1.copy()

In [12]:
pred1.shape

(1459,)

In [21]:
ss1.to_csv('c:/users/user/Desktop/Submision.csv', index=False)

In [18]:
ss.shape

(1459, 2)

In [19]:
ss1.shape

(1459, 2)

In [20]:
ss1.head()

     Id  SalePrice
0  1461     129900
1  1462     135000
2  1463     192000
3  1464     189000
4  1465     180000